<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
	

	
	
	<!-- Configuración del Web Service -->


	<!-- Imports necesarios de Apache CXF -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<!-- Bean de Spring que implementa el Web Service -->
	<bean id="ofertaService" class="cloud.quierescomprar.service.OfertaServiceImp" />

	<!-- Configuración de Apache CXF, el implementor es el id del bean de Spring 
		con # por delante. El address es el endpoint donde se despliega el Web Service. 
		Hay que considerar también el servlet-mapping donde está configurado el Apache 
		CXF en el web.xml -->
	<jaxws:endpoint id="productoServiceEndPoint" implementor="#ofertaService"
		address="/ofertaService" />
		
		
 
				
	<bean id="compraService" class="cloud.quierescomprar.service.CompraService" />


     <jaxrs:server id="restContainer" address="/rest">
     
                <jaxrs:serviceBeans>
                        <ref bean="compraService" />
                </jaxrs:serviceBeans>
      </jaxrs:server>
	

		
		
</beans>